.blog-parallax-scroll {
  background-attachment: fixed;
}

@media only screen and (max-width: 800px) {
  .Blog-container {
    background-image: 
      linear-gradient(
        rgba(50, 0, 80, 0.1), 
        rgba(0, 20, 20, 0.1)
      ),
      url(../resources/images/trianglewrap.jpg);
      /* url(../resources/images/neonMetal.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1;
    padding-bottom: 9.25%; */
    position: relative;
  }
}

@media only screen and (min-width: 801px) {
  .Blog-container {
    background-image: 
      linear-gradient(
        rgba(50, 0, 80, 0.5), 
        rgba(20, 50, 20, 0.5)
      ),
      url(../resources/images/trianglewrap.jpg);
      /* url(../resources/images/neonMetal.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 0;
    padding-bottom: 56.25%; */
    position: relative;
  }
}