.parallax-scroll {
  background-attachment: fixed;
}

@media only screen and (max-device-width: 1366px) {
  .parallax-scroll {
    background-attachment: scroll
  }
}

@media only screen and (max-width: 800px) {
  .Home-container1 {
    background-image: 
      linear-gradient(
        rgba(50, 0, 80, 0.1), 
        rgba(0, 20, 20, 0.1)
      ),
      url(../resources/images/neonMetal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1;
    padding-bottom: 9.25%;
    position: relative;
  }

  .Home-container2 {
    background-image: 
      linear-gradient(
        rgba(0, 0, 50, 0.7), 
        rgba(0, 50, 20, 0.7)
      ),
      url(../resources/images/darkGlass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1;
    position: relative;
  }

  .scroll-nav {
    height: 72px;
    width: 13px;
    position: fixed;
    z-index: 1;
    top: 40%;
    right: 3px;
    overflow: hidden;
    border-radius: 15px;
    align-items: center;
  }
  
  .scroll-dot {
    height: 18px;
    width: auto;
    right: 13px;
    position: relative;
    top: -7px;
    font-size: 8px;
  }
}

@media only screen and (min-width: 801px) {
  .Home-container1 {
    background-image: 
      linear-gradient(
        rgba(50, 0, 80, 0.1), 
        rgba(20, 100, 20, 0.1)
      ),
      url(../resources/images/neonMetal.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
  }
  
  .Home-container2 {
    background-image: 
      linear-gradient(
        rgba(0, 0, 50, 0.7), 
        rgba(0, 50, 20, 0.7)
      ),
      url(../resources/images/darkGlass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1;
    position: relative;
  }

  .Home-container3 {
    background-image: 
      linear-gradient(
        rgba(255, 255, 255, 0.92), 
        rgba(255, 255, 255, 0.92)
      ),
      url(../resources/images/whiterock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1;
    position: relative;
  }

  .scroll-nav {
    height: 113px;
    width: 18px;
    position: fixed;
    z-index: 1;
    top: 40%;
    right: 5px;
    overflow: hidden;
    border-radius: 15px;
    align-items: center;
  }
  
  .scroll-dot {
    height: 30px;
    width: auto;
    right: 12px;
    position: relative;
    top: -5px;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1000px) {
  .Home-container1 {
    background-size: cover;
  }
}

.plain-link {
  text-decoration: none;
}

.vertical-center {
  padding: 20% 0;
}

.w3-darkest-gray {
  background-color: #262626;
  color: white;
}

.w3-darkest-teal {
  background-color: #006666;
  color: white;
}

.w3-text-darkest-teal {
  color: #006666;
}