@media only screen and (max-width: 800px) {
  .Project-container {
    background-image:
      linear-gradient(
        rgba(30, 15, 240, 0.1), 
        rgba(114, 133, 11, 0.3)
      ),
      url(../resources/images/metalWaves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}

@media only screen and (min-width: 801px) {
  .Project-container {
    background-image:
      linear-gradient(
        rgba(30, 15, 240, 0.1), 
        rgba(114, 133, 11, 0.3)
      ),
      url(../resources/images/metalWaves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
}

@media only screen and (max-width: 800px) {
  .Contact-container {
    background-image: 
      linear-gradient(
        rgba(50, 0, 80, 0.5), 
        rgba(20, 50, 20, 0.5)
      ),
      url(../resources/images/metalWaves.jpg);
      /* url(../resources/images/neonMetal.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1;
    padding-bottom: 9.25%; */
    position: relative;
  }
}

@media only screen and (min-width: 801px) {
  .Contact-container {
    background-image: 
      linear-gradient(
        rgba(50, 0, 80, 0.5), 
        rgba(20, 50, 20, 0.5)
      ),
      url(../resources/images/metalWaves.jpg);
      /* url(../resources/images/neonMetal.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 0;
    padding-bottom: 56.25%; */
    position: relative;
  }
}

.picture-frame {
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}
.shaped{
  float: right;
  position:relative;
  max-width: 500px;
  shape-margin: 1rem;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  shape-margin: 20px;
}

.circle{
  float: right;
  height: 40vh;
  width: calc(40vh + 40vh/4);
  shape-outside: circle(50%);
  shape-margin: 1rem;
  clip-path: circle(25%);
  shape-margin: 20px;
} 