@media only screen and (max-width: 800px) {
  .Project-container {
    background-image: 
      linear-gradient(
        rgba(50, 0, 80, 0.1), 
        rgba(0, 20, 20, 0.1)
      ),
      url(../resources/images/underwater.jpg);
      /* url(../resources/images/neonMetal.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1;
    padding-bottom: 9.25%; */
    position: relative;
  }
}

@media only screen and (min-width: 801px) {
  .Project-container {
    background-image: 
      linear-gradient(
        rgba(50, 0, 80, 0.5), 
        rgba(20, 50, 20, 0.5)
      ),
      url(../resources/images/underwater.jpg);
      /* url(../resources/images/neonMetal.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 0;
    padding-bottom: 56.25%; */
    position: relative;
  }
}

@media only screen and (max-width: 800px) {
  .Contact-container {
    background-image: 
      linear-gradient(
        rgba(50, 0, 80, 0.1), 
        rgba(0, 20, 20, 0.1)
      ),
      url(../resources/images/metalWaves.jpg);
      /* url(../resources/images/neonMetal.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1;
    padding-bottom: 9.25%; */
    position: relative;
  }
}

@media only screen and (min-width: 801px) {
  .Contact-container {
    background-image: 
      linear-gradient(
        rgba(50, 0, 80, 0.5), 
        rgba(20, 50, 20, 0.5)
      ),
      url(../resources/images/metalWaves.jpg);
      /* url(../resources/images/neonMetal.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 0;
    padding-bottom: 56.25%; */
    position: relative;
  }
}

.picture-frame {
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

/* .profile-default {
  width: 100%;
}

.profile-no-image {
  width: 50%;
} */

.shaped{
  float: right;
  position:relative;
  max-width: 500px;

  /* shape-margin: 1rem;
  shape-outside: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); */
  /* shape-outside: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); */
  shape-margin: 1rem;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  shape-margin: 20px;
}

.circle{
  float: right;
  height: 40vh;
  width: calc(40vh + 40vh/4);
  shape-outside: circle(50%);
  shape-margin: 1rem;
  clip-path: circle(25%);
  shape-margin: 20px;
} 